*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
ul,ol{
    list-style: none;
}
body{
    background-color: #E2DED2;
    display:flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    min-width:460px;
    margin-top:60px;
    padding:10px 10px;
    border-radius:5px;
    background: repeating-linear-gradient( -45deg, #D7D3C7, #D7D3C7 2px, #CECABE 2px, #CECABE 4px);
}
.window{
    /*margin:70px 450px;*/
    position:relative;
    background: repeating-linear-gradient( -45deg, #D7D3C7, #D7D3C7 2px, #CECABE 2px, #CECABE 4px);
}

.tabs{
    display:flex;
    line-height:60px;
    justify-content:space-around;
    background:linear-gradient(to bottom, #e5dfd3 0%,#d0c9b8 100%);

}
.tabs>li{   
    text-align: center;
    width:50%;
    
}
.tabs>li.active{
    background-color: #fff;
}
.content{
    min-height:360px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #f0ede6;
}
.content>li{
    display:none;
    border-radius:50%;

}
.content>li>div{
    width:80px;
    height:80px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #DFDCD3;
    font-size:28px;
}
.content>li.active{
    display:block;
    background-color: #fff;
}